<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=ASHISH-PC;Initial Catalog=SalesMaster;Persist Security Info=True;User ID=sa; Password=sandeep;"/>-->
    <!--<add key="ConnectionString" value="Data Source=MANOJ-PC;Initial Catalog=SalesMaster;Persist Security Info=True;User ID=sa; Password=123456;"/>-->

    <add key="ConnectionString" value="Data Source=DINESHTIWARI-PC\SQLEXPRESS;Initial Catalog=SalesMaster;Integrated Security=True;"/>

    <!--<add key="ExcelFilePath" value="D:\\excel file path\\"/>-->
    <!--<add key="ExcelFilePath1" value="D:\\excel file path1\\"/>-->
  </appSettings>
</configuration>